@using OAuthSample.AuthorizationCodeGrantFlow.Model
@model dynamic

@{
    ViewBag.Title = "title";
}

<h2>OAuth Authorization Code Grnat Flow Sample</h2>

<label>取得OAuth Authorize Code</label>
<br />

<a href="@ViewBag.AuthUrl">取得OAuth Authorize Code</a>
<br />

@if (ViewBag.Code != null)
{
    <label>AuthorizationCode: @ViewBag.Code</label>
    <br />

}

@if (ViewBag.State != null)
{
    <label>State: @ViewBag.State</label>
}

<label>取得AccessToken與RefreshToken</label>

<form action="@Url.Action("Token", "Home")" method="post">
    <input name="code" type="hidden" value="@ViewBag.Code" />
    <input type="submit" name="submit" value="取得Token" />
</form>

@{
    var token = ViewBag.Token as TokenModel;

}

@if (ViewBag.Token != null)
{
    
    <label>AccessToken: @token.AccessToken</label>
    <br />
    <label>ExpireIn: @token.ExpireIn</label>
    <br />
    <label>RefreshToken: @token.RefreshToken</label>
    <br />
    <label>Scope: @token.Scope</label>
    <br />
    <label>TokenType: @token.TokenType</label>
    
}


<form action="@Url.Action("GetUser", "Home")" method="post">
    @if (token != null)
    {
        <input type="hidden" name="accessToken" value="@token.AccessToken"/>
        <input type="hidden" name="tokenType" value="@token.TokenType"/>
    }
    <input type="submit" value="向Resource Server取得資料"/>
</form>

@if (ViewBag.GetUserResponse != null)
{
    <label>GetUserResponse : @ViewBag.GetUserResponse </label>
}


